.form_container{
    width: 30%;
  }
  
  @media screen and (max-width: 1000px) {
    .form_container{
      width: 45%;
    }
  }
  
  @media screen and (max-width: 700px) {
    .form_container{
      width: 65%;
    }
  }
  
  #boton{
    background-color: rgb(217, 98, 13);
    border: none;
  }

  #boton2{
    background-color: rgb(217, 98, 13);
    border: none;
  }

  #fondo{
    background: url("../../components/assets/IMG-20231102-WA0015.jpg")no-repeat;
    margin-left: -5px
  }
  
  #fondo2{
    background: url("../../components/assets/IMG-20231102-WA0015.jpg")no-repeat;
    margin-left: -5px
  }
  .fondo-backend{
    background-color: #E4E9F3 ;
  }
  .Desconectar-sesion{
    text-align: right;
  }
  .justi-textosession{
    text-align: justify;
  }
  .color-individual{
    color: white;
   text-decoration: none;
   
  }
  .color-individual2{
   margin-top: -65px;
    
  }
 .color-individual3{
  margin-left: 110px;
 }
 .bgfondoi{
 background-color: aqua;
 }
 