@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@200;300;400;500;600;700;900&&display=swap');

:root {
  --main-bg-color: #ff6b00;
  --main-text-color: #eeedec;
  --second-bg-color: #eeedec;
  --white-color: #fff;
  --second-text-color: #ff6b00;
  --black-color: #2a2020;
  --font-family: 'Poppins', sans-serif;
  --font-logo: 'Patua One', serif;
  --grey-color: #e4e9f3;
}
/* .TimelineControlContainer-sc-cif21b-4.fljXJB {
  position: fixed;
  top: 55px;
  z-index: 100;
  left: 44vw;
} */
body,
.main-container {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
p,
section,
div {
  font-family: 'Poppins', sans-serif;
}
.main.div {
  height: 100vh;
}
.img-fondo {
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  margin-top: 0;
  object-fit: cover;
  height: 100vh;
  width: 100%;
  z-index: 5;
  position: absolute;
  left: 0;
}
.logo-ecopark {
  position: absolute;
  z-index: 5;
  left: 2.5rem;
  top: 3rem;
  width: 20rem;
}
.energias-div {
  text-align: center !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.alta {
  background-color: rgba(142, 133, 171, 0.141);
  width: 100%;
  padding: 20px 0;
}

.row.row-cols-1.row-cols-md-2.g-4,
.row.seccion2 {
  width: 100%;
}

.tamaño-responsive {
  width: 100%;
  height: auto;
  display: none;
  border-radius: 30px;
}
@media (max-width: 750px) {
  .tamaño-responsive-none {
    display: none;
  }
  .tamaño-responsive {
    display: flex;
  }
  .row.botones-energias-main {
    height: 8em;
  }
}
.main-div {
  height: 100vh;
}
.centrar {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.justificar {
  width: 90%;
  font-size: 1.2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin: 0;
}
.text-jc {
  width: 95%;
  font-size: 1.4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin: 0;
}
.box-img {
  width: 100%;
  height: 400px;
  padding: 1rem;
}
.card-section-about {
  height: 100%;
  padding: 2em;
  background-color: var(--grey-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.medir {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a.ms-2.link-energias-boton {
  width: auto;
}
.row.botones-energias-main {
  display: flex;
  justify-content: space-around;
}
.bajo {
  background-color: rgba(142, 133, 171, 0.141);
}

.ajustar {
  margin: 0;
  padding: 0.5em;
}
.rayas {
  width: 90%;
  height: 59%;
  background-color: orange;
  margin-left: 60px;
}

.titu {
  background-color: #ff6b00;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.titu:hover {
  background-color: rgb(190, 161, 107);
}
.titu1 {
  background-color: #ff6b00;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.titu1:hover {
  background-color: rgb(190, 161, 107);
}

.fondo1 {
  background-color: #ff6b00;
  color: white;
  width: 160px;
  height: 40px;
}

.fondo1:hover {
  background-color: rgb(190, 161, 107);
}
