
   

.img-fluidhh{
    background-size: cover;
    background-attachment: fixed;
    margin-left: 50px;
}
.img-fluidhhh {
    background-size: cover;
    background-attachment: fixed;
    margin-left: -4px;
}
.Navbar{
    z-index: 2;
    position: absolute ;
    margin-top: 15px;
  
    
}
.rrr{
    list-style: none;
    display: flex;
    
    
}
.navrr{
    
    text-decoration: none;
    color: white;
    margin-left: 80px;
   font-family:Arial, Helvetica, sans-serif;
    margin-top: 25px;
    font-size:large
}

  
.navrr:hover{
color:orange;
}

.alta{
    background-color: rgba(142, 133, 171, 0.141);
    width: 100%vh;
    
   padding: 20px 0;
}

.tamaño{
width: 450px;
height: 300px;
}


.centrar{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.medir{
   
    
    height: 300px;
   border-radius: 5%;
  
   margin-top: 20px;
   margin-right: 20px;
    
}
.medir1{
   
height:300px;
border-radius: 5%;
width: 500px;

margin-top: 20px;
  
}

.bajo{
 background-color: rgba(142, 133, 171, 0.141);

}
.justificar{
    text-align: justify;
}
.justificara{
    text-align: justify;
    margin-right: 30px;
    
}
.img4{
    border-radius: 5%;
}
.img3{
    border-radius: 5%;
}

.ajustar{
 margin: 0;
}

.rayas{
   width:90%;
   height: 59%;
   background-color: orange;
   margin-left: 60px;
   
  
}

.titu{
    background-color: orange;
    color: white;
}
.titu:hover{
    background-color: rgb(190, 161, 107)
}
.titu1{
    background-color: orange;
    color: white;
    margin-left: 250px;
   
    
}
.titu1:hover{
    background-color: rgb(190, 161, 107);
    
    
}

.fondo1{
    background-color: orange;
    color: white;
    width: 160px;
    height: 40px;
}

.fondo1:hover{
 background-color: rgb(190, 161, 107)
}