.about-us-main {
  margin-top: 55px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-about-us {
  background-color: var(--main-bg-color);
  border-radius: 35px;
  height: 100px;
}
