@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@200;300;400;500;600;700;900&&display=swap');

:root {
  --main-bg-color: #ff6b00;
  --main-text-color: #eeedec;
  --second-bg-color: #eeedec;
  --second-text-color: #ff6b00;
  --font-family: 'Poppins', sans-serif;
  --font-logo: 'Patua One', serif;
}
/* NavbarStyles.css */
.main-navbar {
  background-color: transparent;
  color: var(--main-text-color);
}
.section-navbar {
  background-color: var(--main-bg-color);
  margin-bottom: 15px;
}
.Navbar {
  overflow: hidden;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  justify-content: center;
  align-items: center;
}
.anchor-navbar {
  text-decoration: none;
  color: var(--main-text-color);
  font-family: 'Poppins';
  font-size: large;
}
.anchor-navbar {
  text-align: center;
  padding: 14px 0px;
  margin: auto;
  font-family: 'Poppins';
  font-size: large;
  text-decoration: none;
}

.main-navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}
.main-navbar-list li {
  display: inline-block;
  width: 100%;
}
.anchor-navbar,
.anchor-dropdown {
  display: block;
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 500;
}
.anchor-navbar,
.anchor-navbar:after,
.anchor-navbar:before,
.anchor-dropdown,
.anchor-dropdown:after,
.anchor-dropdown:before {
  transition: all 0.7s;
  width: 100%;
}
.anchor-navbar:hover,
.anchor-dropdown:hover {
  color: var(--second-text-color);
}
.anchor-navbar {
  position: relative;
}

.dropdown-navbar {
  cursor: pointer;
  transition-duration: 0.4s;
}
.dropdown-content-energias {
  display: none;
  min-width: 200px;
  z-index: 100;
  border-radius: 8px;
  transition: 1s ease-out;
}
.anchor-dropdown {
  color: var(--main-text-color);
  text-align: center;
  padding: 14px 0px;
  margin: auto;
  font-family: 'Poppins';
  font-size: large;
  text-decoration: none;
  width: 100%;
}
.dropdown-navbar:hover .dropdown-content-energias {
  display: flex;
  flex-direction: column;
}
.anchor-navbar:after,
.anchor-dropdown:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--second-bg-color);
  height: 5px;
}
.anchor-navbar:hover:after,
.anchor-dropdown:hover:after {
  width: 100%;
}

.anchor-navbar,
.anchor-dropdown {
  transition: all 1s;
}

.anchor-navbar:after,
.anchor-dropdown:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
.anchor-dropdown:hover {
  color: var(--second-text-color);
  background-color: var(--second-bg-color);
}
.anchor-navbar:hover {
  color: var(--second-text-color);
  z-index: 1;
}
.anchor-navbar:hover:after {
  z-index: -10;
  animation: fill 0.8s forwards;
  -webkit-animation: fill 0.8s forwards;
  -moz-animation: fill 0.8s forwards;
  animation-timing-function: ease-in-out;
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 5px;
  }
  50% {
    width: 100%;
    height: 5px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: var(--second-bg-color);
  }
}
