/* Estilos para el contenedor de las tarjetas */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos para cada tarjeta */
  .card {
    width: 18rem;
    margin: 10px;
  }
  
  /* Estilos para la fila superior */
  .top-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  /* Estilos para la fila inferior */
  .bottom-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px; /* Ajusta según sea necesario */
  }
  
  /* Otros estilos según sea necesario */
  